<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch Template</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="landing/dist/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <style>
        .color-dark{
            background-color: #8da4ff80;
        }
    </style>
</head>
<body class="is-boxed has-animations" style="margin: 0 !important; max-width: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								<img class="header-logo-image asset-light" src="landing/dist/images/logo-light.svg" alt="Logo">
								<img class="header-logo-image asset-dark" src="landing/dist/images/logo-dark.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero pb-1 pt-2">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Hey, Its Bitsten Finance!</h1>
	                        <p class="hero-paragraph">List your coin with cheapest fee, staking and make money</p>
	                        <div class="hero-cta">
								<a class="button button-primary" href="/home">Launch Now</a>
								<div class="lights-toggle">
									<input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
									<label for="lights-toggle" class="text-xs"><span>Turn me <span class="label-text">dark</span></span></label>
								</div>
							</div>
						</div>
						<div class="hero-media">
							<div class="header-illustration">
								<img class="header-illustration-image asset-light" src="landing/dist/images/header-illustration-light.svg" alt="Header illustration">
								<img class="header-illustration-image asset-dark" src="landing/dist/images/header-illustration-dark.svg" alt="Header illustration">
							</div>
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-light" src="landing/dist/images/hero-media-illustration-light.svg" alt="Hero media illustration">
								<img class="hero-media-illustration-image asset-dark" src="landing/dist/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">
								<img class="hero-media-image asset-light" style="max-width:400px;" src="https://exchange.bitsten.com/assets/static/v30/images/logo/bst.png" alt="Hero media">
								<img class="hero-media-image asset-dark" style="max-width:400px;" src="https://exchange.bitsten.com/assets/static/v30/images/logo/bst.png" alt="Hero media">
							</div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider pt-0 pb-0">
						<div class="features-header text-center">
                        </div>
                       <div>
                            <ul class="list-group list-group-horizontal justify-content-center">
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle asset-light">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/svg/029-telegram.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle asset-light">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/svg/038-github.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle asset-light">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/svg/043-twitter.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle asset-light">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/svg/021-facebook.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>

                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle icon-dark d-none">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/dark/svg/029-telegram.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle icon-dark d-none">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/dark/svg/038-github.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle icon-dark d-none">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/dark/svg/043-twitter.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                                <li class="list-group-item border-0 ml-3 mr-3 rounded-circle icon-dark d-none">
                                    <a href="">
                                        <img src="../stisla/assets/social-media/dark/svg/021-facebook.svg" alt="" style="max-width: 60px; height: 60px;">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="landing/dist/js/main.min.js"></script>
</body>
</html>
