.warp-all{
     margin:20px auto;
     padding: 5% 8%;
}

.image-card{
    max-width: 180px;
    opacity: 0.5;
}

.img-card-body{
    max-width: 150px;
}

.card-body{
    flex-direction: row !important;
}

.section-header{
    display: none !important;
}